ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

.maps {
    padding: 3em 0;
}

.titulo h2 {
    text-align: center;
    font-size: 40px;
    margin: 0 0 10px;
}

.titulo p {
    margin: 0 0 2em;
    text-align: center;
}
h1{
  text-align: center;
}

img{
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.column {
  float: left;
  width: 75%;
  padding: 10px;
  box-sizing: border-box;
}


.grafico{
  width:750px;
}

.bandeira{
  width:230px;
}

.mapa{
  width :315px;
}

.img1{
  width: 250px;
}

.img2{
  width: 250px;
}

@media screen and (max-width: 650px){
  .column2 {
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.grafico{
  width:350px;
}

.bandeira{
  width:150px;
}

.mapa{
  width :215px;
}
.img1{
  width: 150px;
}

.img2{
  width: 150px;
}




}


@media screen and (max-width: 400px){
  .column2 {
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.grafico{
  width:150px;
}
.bandeira{
  width:50px;
}

.mapa{
  width :115px;
}

.img1{
  width: 25px;
}

.img2{
  width: 25px;
}

}